{{ form_start(form) }}

    <div class="card">
        <div class="card-header">    <h1>Ajouter Annee pédagogique</h1>  </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="annee1">De : </label>
                        <input type="date" class="form-control" id="annee1" name="annee_1">
                    </div>
                    <div class="form-group">
                        <label for="annee_2">à: </label>
                        <input type="date" class="form-control" id="annee2" name="annee_2">
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="annee1_annee2"> {{ form_label(form.libelleAnnee)}}</label>
                        {{ form_widget(form.libelleAnnee) }}

                    </div>
                    <div class="form-group">
                        <label for="classe">{{ form_label(form.classe)}}</label>
                        {{ form_widget(form.classe) }}

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <button class="btn btn-secondary" type="submit" >Sauvegarder</button>
            </div>
        </div>
    </div>

{{ form_end(form) }}


{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            document.getElementById("anneepedagogique_libelleAnnee").setAttribute("readonly", true);

            //recupérer les annees seulement
            var date1 = $("#annee1").val();
            let annee1 = date1.substr(0,4);
            var date2 = $("#annee2").val();
            let  annee2 = date2.substr(0,4);
             // Afficher la valeur
            
            $("#annee2").blur(function() {
                console.log(date1);
                console.log(date2);
                document.getElementById("anneepedagogique_libelleAnnee").value = annee1+"-"+annee2;
            })

           
        })
        

    </script>
{% endblock  %}